
    <main>
        <h3>Concerts de l'artiste {{nomArtist}}</h3>
        <div class="row">
            <google-map
                [center]="center"
                [zoom]="zoom"
                width="1000"
                height="400">
                <map-marker
                    *ngFor="let marker of markerPosition"
                    [position]="marker">
                </map-marker>
            </google-map>
            <div class="shows">
                <div *ngFor="let s of showsList">
                    <h4>{{s.date | date:'MMM d, y, h:mm:ss a'}}</h4>
                    <p>{{s.pays}}</p>
                    <p>{{s.ville}}</p>
                </div>

            </div>           

        </div>
    </main>