
    <main>
        <h3>Chansons de l'album X</h3>
        <div class="row">
            <div class="youtubePlayer">
                <iframe width="750" height="450" [src]="videoUrl" title="YouTube video player" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
                    web-share" allowfullscreen>
                </iframe>
            </div>
            <div class="songs">
                <div class="songList">
                    
                    <!-- Liste de chansons d'un album choisi -->
                    <div *ngFor = "let s of Songs">
                        <p>{{s.name}} </p>
                        <button (click)="searchVideo(s.name, s.artist)">Jouer</button>
                    </div>
                </div>
            </div>
        </div>
    </main>