
        <div class="row">
            <div class="search">
                <h3>Ajouter un artiste</h3>
                <form>
                    <input type="text" name="artistName" placeholder="Travis Scott" [(ngModel)]="nomArtist" >
                    <button class="clic" (click)="getArtist()" type="submit" >Rechercher</button>
                </form>
            </div>
            <div class="display">
                <h3>Vos artistes</h3>
                <div class="row">
                    <div *ngFor="let a of listArtists">
                            <h4>{{a.name}}</h4>
                            <img src="{{a.imageUrl}}" alt="">
                            <button [routerLink]="['/album',a.id]">Albums</button>
                            <button [routerLink]="['/show',a.name]">Concerts</button>
                    </div>
                </div>
            </div>
        </div>