
    <main>
        <div class="row">
            <div class="albums">
                <h3>Albums de l'artiste X</h3>
                <div class="row">

                    <!-- Liste d'albums d'un artiste choisi -->
                    <div *ngFor = "let a of listAlbums">
                        <h4>{{a.name}}</h4>
                        <img src="{{a.imageUrl}}">
                        <button>Chansons</button>
                    </div>
                </div>
            </div>
        </div>
    </main>